* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 75% !important;
}

body {
	background-color: #F6F6F6;
	overflow: hidden;
	font-size: 16px;
}

.container {
	padding: 8px;
	display: block;
	height: 80vh;
}
.split {
	overflow-y: auto;
	overflow-x: hidden;
}
.content {
	border: 1px solid #C0C0C0;
	box-shadow: inset 0 1px 2px #e4e4e4;
	background-color: #fff;
}
.gutter {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter.gutter-vertical {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

.gutter.gutter-horizontal:hover {
	cursor: col-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
	height: 95%;
	float: left;
}

textarea {
	width: 100%;
	height: 100% !important;
	resize: none;
	border: none;
	outline: none;
	padding: 10px;
	font-family: monospace;
	background: #FFFDE7;
}

#a {
	overflow-y: hidden;
}

#b {
	overflow: hidden;
}
#htmlOutput {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 10px;
}
.navbar {
	display: block;
	padding: 8px 8px 0px 8px;
}
.title {
	font-weight: bold;
}
.text-align-center{
	text-align: center;
}
